@using ExchangeAdvisor.Domain.Values.Rate
@using ChartValueType = Syncfusion.Blazor.Charts.ValueType

<h1>Exchange rate history and prediction</h1>
<div>
    <SfChart ID="@ChartId">
        <ChartPrimaryXAxis Title="Day" ValueType="ChartValueType.DateTime"></ChartPrimaryXAxis>
        <ChartPrimaryYAxis Title="Rate"></ChartPrimaryYAxis>
        <ChartSeriesCollection>
            <ChartSeries DataSource="@HistoricalRates"
                         Name="History"
                         Type="@ChartSeriesType.Line"
                         XName="@nameof(Rate.Day)"
                         YName="@nameof(Rate.Value)">
                <ChartMarker Visible="@ShouldShowMarkers"></ChartMarker>
            </ChartSeries>
            <ChartSeries DataSource="@ForecastRates"
                         Name="Forecast"
                         Fill="#46D246"
                         Type="@ChartSeriesType.Line"
                         XName="@nameof(Rate.Day)"
                         YName="@nameof(Rate.Value)">
                <ChartMarker Visible="@ShouldShowMarkers"></ChartMarker>
            </ChartSeries>
        </ChartSeriesCollection>
        <ChartTooltipSettings Enable="true" Shared="true"></ChartTooltipSettings>
        <ChartZoomSettings EnableSelectionZooming="true"
                           EnableMouseWheelZooming="true"
                           EnablePinchZooming="true"
                           EnableDeferredZooming="false"
                           EnableScrollbar="true"
                           EnablePan="true">
        </ChartZoomSettings>
        <ChartLegendSettings Visible="true"></ChartLegendSettings>
    </SfChart>
    <SfSpinner @ref="ChartLoader" Target="@ChartLoaderTargetCssSelector"></SfSpinner>
</div>
<div>
    <h6>Rates</h6>
    <SfDateRangePicker @bind-StartDate="@StartDate"
                        @bind-EndDate="@EndDate"
                        Width="180px"
                        ShowClearButton="false"
                        MinDays="1"
                        StrictMode="true">
    </SfDateRangePicker>
    <CurrencyPairSelector @bind-Value="@CurrencyPair"></CurrencyPairSelector>
    <SfButton @onclick="@RefreshAsync" CssClass="e-flat">Refresh</SfButton>
</div>
<div class="mt-4">
    <h6>Saved forecasts</h6>
    <SfGrid DataSource="@SavedForecastsMetadata" Width="1000">
        <GridColumns>
            <GridColumn Field="@nameof(RateForecastMetadata.CreationDay)"
                        HeaderText="Creation day"
                        Width="120"
                        Type="ColumnType.Date"
                        Format="d">
            </GridColumn>
            <GridColumn Field="@nameof(RateForecastMetadata.CurrencyPair)"
                        HeaderText="Currency pair"
                        Width="120">
            </GridColumn>
            <GridColumn Field="@nameof(RateForecastMetadata.Description)" HeaderText="Description"></GridColumn>
        </GridColumns>
    </SfGrid>
</div>
<div class="mt-4">
    <h6>Chart settings</h6>
    <SfCheckBox Label="Show markers" @bind-Checked="@ShouldShowMarkers"></SfCheckBox>
</div>

<style>
    #@ChartId .e-spinner-pane {
        tranSform: translateY(-42px);
    }
</style>
